*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
 
body{
    background-color: black;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.hd{
    width: 100%;
    height: 100vh;
    background-image: url(image/head.jpg);
    background-position: center;
    background-size: cover;
}

.con{
    display: flex;
    height: 88%;
    align-items: center;
}

.conn{
    flex-basis: 50%;
}
.conn h1{
    color: white;
    padding-left: 300px;
    
}
.conn h1{
    font-size: 70px;
}


.card{
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 120PX;
    background-image: url(image/head.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card:hover{
    transform: translateY(-10px);
}

.card1{
    background-image: url(image/head.jpg);
    
}
.card2{
    background-image: url(image/head.jpg);
    
}.card3{
    background-image: url(image/head.jpg);
    
}

@media(max-width:800px){
    .conn h1{
        font-size: 70px;
    }
    .card{
        width: 300px;
        height: 400px;
        display: block;
    }
}

.round{
    margin-top: 150px;
    margin-left: 220px;
}

.round img{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    object-fit: cover;
}

.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: gray;
   margin: auto;
   position: relative;
   display: flex;
   bottom: 750px;
   left: 200px;
}

.circle2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    display: flex;
    top: 60px;
    left: 100px;
   
}
.circle3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #dc7633;
    position: relative;
    left: 250px;
    top: 500px;
}

.cont{
    width: 400px;
    height: 500px;
    border-radius: 15px;
    background-color: aliceblue;
    position: relative;
    right: 500px;
    top: 100px;
    padding: 20px;
}
.cont p{
    line-height: 30px;
}
.cont h1{
    font-family: sans-serif;
    font-size: 40px;
}

.form h1{
    color: #fff;
    margin-top: 180px;
    margin-left: 400px;
    font-size: 60px;
}

.form input,textarea{
    margin-top: 100px;
    position: relative;
    left: 120px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 400px;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    
}
.form textarea{
   width: 870px;
   height: 200px;
   margin-bottom: 40px;
   padding: 20px;
   position: relative;
   bottom: 60px;
}
.form button{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 50%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-left: 250px;
    margin-bottom: 100px;
}

.form button:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0,0,0, 0.2);
}

